<div id="instagram"></div>
<script src="https://rawgit.com/stevenschobert/instafeed.js/master/instafeed.js"></script>
<script>
    var feed = new Instafeed({
        get: 'user',
        target: 'instagram',
        limit:4,
        userId: 1610250950,
        accessToken: '1610250950.1677ed0.b9327173cdd84ef1a6f867d8750ad4d7',
        filter: function(image) {
            var pic = image.images.low_resolution.url;
            
            console.log(image.images);
            
            if (image.caption && image.caption.text && image.caption.text.length > 0) {
                var caption = image.caption.text;
            } else {
                var caption = "";
            }
            
            $("#instagram").append("<div><img src='"+pic+"' /> <p>"+caption+"</p></div>");
        }
    });
    feed.run();
</script>
