<ul id="list">
  <li>Peter</li>
  <li>Mary</li>
  <li>Paul</li>
  <li>Allen</li>
  <li>James</li>
  <li>Vicki</li>
  <li>Brock</li>
  <li>Dana</li>
  <li>Frank</li>
  <li>Gil</li>
  <li>Helen</li>
</ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
function sortUL(selector) {
    $(selector).children("li").sort(function(a, b) {
        var upA = $(a).text().toUpperCase();
        var upB = $(b).text().toUpperCase();
        return (upA < upB) ? -1 : (upA > upB) ? 1 : 0;
    }).appendTo(selector);
}
sortUL("ul#list");
</script>
